* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

a {
  text-decoration: none;
}

ul li {
  color: white;
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(27, 27, 27);
  padding: 5px 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#header-name {
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
}

.header nav ul {
  display: flex;
  gap: 15px;
}

.header h1,
.header ul li a {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.header ul li a:hover {
  opacity: 90%;
}

.main {
  background: white;
  padding-top: 80px;
}

.main-content {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
}

@media (max-width: 480px) {
  .main-content-2 {
    flex-direction: column;
    padding: 20px 0;
  }
}

.main-content-2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.logo-curza {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: rgb(12, 26, 148);
  border-radius: 50%;
  padding: 10px;
  animation: girarLogo 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes girarLogo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.main-titulo {
  font-size: 65px;
  font-weight: bold;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.main-titulo img {
  margin-left: 15px;
  width: 50px;
  animation: logo-spin 2s linear infinite;
}

@keyframes logo-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.main-parrafo {
  font-size: 22.5px;
  font-weight: 300;
}

.info-btn {
  display: inline-block;
  max-width: 150px;
  font-size: 20px;
  padding: 20px;
  border: 1.5px solid rgb(24, 24, 24);
  border-radius: 5px;
  color: black;
  transition: 0.25s ease-in-out;
  font-weight: 300;
  text-align: center;
}

.info-btn:hover {
  background: rgb(24, 24, 24);
  color: white;
}

footer {
  padding: 15px;
  background: rgb(5, 5, 5);
  text-align: center;
}

footer p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
}

.main-info {
  background: white;
}

.main-info-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  gap: 2rem;
}

.main-info h2 {
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: 200;
  font-family: Impact;
}

.main-info p {
  color: black;
  font-size: 22.5px;
  font-weight: 300;
  max-height: 300px;
  overflow-y: auto;
  padding-top: 10px;
  position: sticky;
  top: 0;
}

.acerca-de {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.foto {
  width: 200px;
  border-radius: 50%;
  border: 5px solid rgb(0, 81, 255);
}

.contacto {
  padding: 100px 0;
}

.contacto-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacto-titulo h1 {
  font-size: 50px;
  padding: 5px 0;
  font-family: Impact;
  font-weight: 300;
  text-transform: uppercase;
}

.form-contacto {
  max-width: 450px;
  background: rgb(37, 113, 255);
  border-radius: 10px;
  border: 3px solid white;
  padding: 10px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form-legend,
.form-label {
  font-size: 20px;
  color: white;
  font-family: "Roboto" !important;
}

.form-input,
.form-textarea {
  font-size: 18px;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 2px solid rgb(0, 183, 255);
}

.form-submit-btn {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  color: black;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  max-width: 420px;
  margin: 15px 0;
  border-collapse: collapse;
}

.table th {
  font-size: 25px;
  font-weight: 600;
  background: rgb(37, 113, 255);
  color: white;
  text-align: left;
}

.table th,
.table td {
  text-align: left;
  border: 1.25px solid rgb(25, 94, 255);
  padding: 5px;
}

.table td {
  font-size: 20px;
}

.scroll-arriba {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #064cb6;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
  display: none;
  z-index: 100;
}
